<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/KUMAR/IdeaProjects/APITestingDemo/src/test/java/catDummy/dummyTest.java">
        <classes>
            <class name="catDummy.LaptopTest">
                <methods><include name="getLaptopDetails"/></methods>
            </class>
        </classes>
    </test>
</suite>